build_log
*.log
*.pyc
usr
opt
*.o
*.os
*.exe
packages
binaries
*.ipk
*~
*.lo
*.la
.libs
.deps
Makefile
glib-1.2.10/tests/*-test
check/config.sh
config.h
config.status
debian/files
debian/pkg-config/
glib-1.2.10/config.status
glib-1.2.10/gmodule/testgmodule
glib-1.2.10/gthread/testgthread
glib-1.2.10/stamp-gc-h
glib-1.2.10/testgdate
glib-1.2.10/testgdateparser
glib-1.2.10/testglib
libtool
pkg-config
stamp-h1
debian/*.substvars
glib-1.2.10/glib-config
glib-1.2.10/glib.pc
glib-1.2.10/glibconfig.h
glib-1.2.10/gmodule.pc
glib-1.2.10/gthread.pc
